{% extends 'base.html.twig' %}

{% import _self as macro %}

{% macro connectionRequestItem(connectionRequest, inputName, isChecked, type) %}

    {% if type == 'musicfriend' %}
        {% set categories = connectionRequest.user.musicCategories %}
    {% else %}
        {% set categories = connectionRequest.user.categories %}
    {% endif %}


    <div class="col-md-6 col-sm-6 connection-request-item" data-categories="
        {%- for category in categories -%}
            {{ category.id }}{% if not loop.last %},{% endif %}
        {%- endfor -%}
    ">
        <div class="testimonial-content t-one">
            <h4>
                <img
                    style="width:50px"
                    src="{% if connectionRequest.user.profilePicture -%}
                            {{ connectionRequest.user.profilePicture }}
                        {%- else -%}
                            {{ asset('/images/user.png') }}
                        {%- endif %}"
                    alt=""
                    class="img-responsive img-circle"
                /><a
                    href="{{ path('admin_user', {'id': connectionRequest.user.id}) }}"
                    data-toggle="popover"
                    data-trigger="hover"
                    title="{{ connectionRequest.user.name }}"
                    data-html="true"
                    data-content="<strong>Från:</strong> {{ connectionRequest.user.from|country_name }}<br>
                    <strong>Antal kopplingar:</strong> {{ connectionRequest.user.connections|length }}<br>
                    <strong>Om:</strong> {{ connectionRequest.user.about }}"
                    data-placement="bottom"
                >{{ connectionRequest.user.name }}</a>
                <span>{{ connectionRequest.user.gender }}, {{ connectionRequest.user.age }} år</span>
            </h4>
            <blockquote class="{% if connectionRequest.user.internalComment %}br-orange{% else %}br-green{% endif %}">
                <p>
                    <input name="{{ inputName }}" value="{{ connectionRequest.id }}" type="radio"
                        {% if isChecked %}checked="checked"{% endif %}
                        data-name="{{ connectionRequest.user.name }} ({{ connectionRequest.user.gender }}, {{ connectionRequest.user.age }} år)"
                    >
                    {% for category in categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    {{ connectionRequest.createdAt|date('Y-m-d') }}<br>
                    {{ connectionRequest.user.municipality.name }}<br>
                    {% if connectionRequest.comment %}
                        "<em>{{ connectionRequest.comment|nl2br }}</em>"<br>
                    {% endif %}
                    {{ connectionRequest.user.email }}
                </p>
                {% if connectionRequest.user.internalComment %}
                    <p>{{ connectionRequest.user.internalComment }}</p>
                {% endif %}
                <span class="text-right small">
                    <a href="{{ path('admin_connectionrequest', {'id': connectionRequest.id}) }}">Ändra</a>
                </span>

            </blockquote>
        </div>
    </div>
{% endmacro %}

{% block body %}
<div class="inner-page testimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						{{ 'Select region'|trans }}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu city-select" aria-labelledby="dropdownMenu1">
						{% for loopedCity in cities %}
							<li{#% if loopedCity == city %} class="active"{% endif %#}>
								<a href="#" data-path="{{ path('admin_start', {'id': loopedCity.id, 'type': type}) }}" data-city-id="{{ loopedCity.id }}" data-city-name="{{ loopedCity.name }}">{{ loopedCity.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<a href="#" class="btn btn-default btn-md">{{ 'Find Matches'|trans }}</a>
				<a href="#" class="btn btn-default btn-md">{{ 'Manual Handling'|trans }}</a>
				<a href="#" class="btn btn-default btn-md">{{ 'Statistics'|trans }}</a>
			</div>
		</div>
		<div class="row" style="margin-top: 40px;">
			<div class="col-md-12">
				<p>Hi! Right now we have <strong class="learners-num">{{ learners|length }} new</strong> &amp; <strong class="established-num">{{ fluentSpeakers|length }} established</strong> to match in <span class="stat-city-name">{{ city.name }}</span>. Thank you for helping out!</p>
				<p>Last month we matched 30 people, so far we have matched 16 people this month.</p>
			</div>
		</div>
		<div class="row" style="margin-top: 40px;">
			<h1>1. Choose a person to find a match for</h1>
			<p>The people that have been waiting longest are displayed on top. "Match"-percentage tells you how good of a match the system could find.</p>
			<table class="table table-bordered persons-list">
				<thead class="persons-list-head"> 
					<tr>
						<th data-sort="createdAt" data-col="0" class="sortable-row"><span class="fa fa-angle-down"></span>{{ 'Date for request'|trans }}</th> 
						<th data-sort="firstName" data-col="1" class="sortable-row"><span class="fa fa-angle-down"></span> {{ 'Name'|trans }}</th> 
						<th data-sort="wantToLearn" data-col="2" class="sortable-row"><span class="fa fa-angle-down"></span> {{ 'Category'|trans }}</th> 
						<th>{{ 'Action'|trans }}</th> 
					</tr> 
				</thead>
				<tbody class="persons-list-body"></tbody>
			</table>
			<div class="text-center">
				<a href="#" class="btn btn-lg btn-default show-more-btn">{{ 'Show 20 more'|trans }}</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
    var sortTable=function(){
    	var rows=$('.persons-list tbody tr').get();
    	var col=parseInt($('.persons-list').data('order-by-col'));
    	var dir=$('.persons-list').data('order-dir')=='desc'?[-1,1]:[1,-1];
    	rows.sort(function(a,b){
    		var A=$(a).children('td').eq(col).text().toUpperCase();
    		var B=$(b).children('td').eq(col).text().toUpperCase();
    		switch(col){
    			case 0:
    				if((new Date(A).getTime()<new Date(B).getTime())){
    					return dir[0];
					}
    				if((new Date(A).getTime()>new Date(B).getTime())){
    					return dir[1];
					}
    				return 0;
    				break;
    			case 1:
    				if(A<B){
    					return dir[0];
					}
    				if(A>B){
    					return dir[1];
					}
    				return 0;
    				break;
    			case 2:
    				if(A<B){
    					return dir[0];
					}
    				if(A>B){
    					return dir[1];
					}
    				return 0;
    				break;
			}
		});
		$.each(rows,function(index,row){
			$('.persons-list-body').append(row);
		});
	};
    jQuery(document).ready(function($){
		$('.city-select').data('current-city',{{ city.id }});
        var loadUsers=function(city){
            var _data={
                city:$('.city-select').data('current-city'),
            	exclude:$('.persons-list-body').data('loaded')
            };
	        $.ajax({
	            url:'{{ path('ajax_get_requests_list') }}',
	            type:'post',
	            dataType:'json',
	            data:_data,
	            success:function(resp){
		            if(resp.status==='ok'){
			            var _loaded=$('.persons-list-body').data('loaded')?$('.persons-list-body').data('loaded'):[];
			            $.each(resp.users,function(k,item){
				            var row=$('<tr><td>'+item.request_at+'</td><td>'+item.username+'</td><td>'+item.category+'</td><td><a href="{{ path('admin_find_match') }}/'+item.user_id+'" class="btn btn-orange find-match">{{ 'Find Match'|trans }}</a></td></tr>').hide();
				            $('.persons-list-body').append(row);
				            _loaded.push(item.req_id);
				        });
				        $('.learners-num').text(resp.statistics.learners+' new');
				        $('.established-num').text(resp.statistics.established+' established');
				        $('.stat-city-name').text($('.city-select li.active a').data('city-name'));
				        $('.persons-list-body tr:hidden').fadeIn('slow');
				        $('.persons-list-body').data('loaded',_loaded);
			        }else if(resp.status=='zero'){
				        if($('.persons-list-body .zero-row').length==0){
				        	$('.persons-list-body').append($('<tr><td colspan="4" class="zero-row">'+resp.message+'</td></tr>'));
				        }
				        if(resp.statistics){
					        $('.learners-num').text('0 new');
					        $('.established-num').text('0 established');
					        $('.stat-city-name').text($('.city-select li.active a').data('city-name'));
						}
				    }
		        }
	        });
    	};
    	$('.show-more-btn').click(function(e){
        	e.preventDefault();
    		loadUsers();
       	});
       	$('th.sortable-row').click(function(e){
           	e.preventDefault();
           	var dir='desc';
           	if($(this).find('span:first').hasClass('fa-angle-down')){
           		$(this).find('span:first').removeClass('fa-angle-down').addClass('fa-angle-up');
           		dir='desc';
			}else{
				$(this).find('span:first').removeClass('fa-angle-up').addClass('fa-angle-down');
				dir='asc';
			}
           	$('.persons-list').data('order-by-col',$(this).data('col'));
           	$('.persons-list').data('order-dir',dir);
           	sortTable();
        });
        $('.city-select a').click(function(e){
            e.preventDefault();
            $('.city-select').data('current-city',$(this).data('city-id'));
            $('.city-select li').removeClass('active');
            $(this).parent('li').addClass('active');
            $('.persons-list-body').data('loaded',null);
            $('.persons-list-body').html('');
            loadUsers();
        });
       	$('.show-more-btn').trigger('click');
    });
    </script>
{% endblock %}
